* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 940px;
    width: 1920px;
    background: #0D1010;
    font-family: Work Sans;
    color: rgba(255, 255, 255, 0.95);
    position: relative;
}

.site-bg-img {
    background-image: url('../img/img.png') ;
    width: 1417px;
    height: 940px;
    position: absolute;
    left: calc(50% - 1417px/2 + 251.5px);
    top: 0px;
    z-index: -10;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 81px;
    width: 1920px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    position: absolute;
    left: 0px;
    top: 0px;
}

.header-logo {
    width: 240px;
    height: 81px;
    text-align: center;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.11);
    margin-right: 0px;
    background: #0D1010;
}

.header-logo img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1330px;
    height: 81px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-left: 58px;
    padding-right: 57px;
    background: linear-gradient(55.65deg, #0D100F 30%, #0D1010 50%, rgba(13, 16, 15, 0.8) 54.27%);
}

.header-menu__link {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    line-height: 24 px;
}

.header-menu__img{
    margin-right: 5px;
}
.phone p{
    line-height:24px;
}

.menu-nav {
    width: 240px;
    height: 81px;
    text-align: center;
    background: #0D1010;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
}

.header-menu a, .menu-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
}

.main-border {
    width: 930px;
    height: 650px;
    padding-top: 83px;
    border-right: 1px solid rgba(255, 255, 255, 0.11);
}

.main-container {
    width: 492px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 240px;
    z-index: 10;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    margin-left: 240px;
    padding-left: 0px;
}
h1 {
    font-size: 66px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
}

h2 {
    font-size: 66px;
    line-height: 66px;
    font-style: normal;
    font-weight: 900;
    color: #0D1010;
    text-shadow: -0 -1px 0 #FFFFFF, 0 -1px 0 #FFFFFF, -0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px -0 0 #FFFFFF, 1px -0 0 #FFFFFF, -1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
    margin-bottom: 30px;
}
button {
    width: 138px;
    height: 52.88px;
    background: #F10048;
    box-shadow: 0px 7px 64px rgba(241, 0, 72, 0.66);
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    font-size: 17px;
    border: 0;
    margin-top:60px;
    cursor: pointer;
}

hr {
    color: rgba(255, 255, 255, 0.11);
    width: 1920px;
}

.site-icon {
    width: 239px;
    height: 860px;
    position: absolute;
    top: 80px;
    left: 1680px;
    margin: 0 auto;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}
.icon {
    position: relative;
    height: 46px;
    margin-bottom: 12px;
    top: 544px;
}

.icon_fon {
    position: absolute;
    top: 0px;
    right: 97px;
    background: rgba(13, 16, 16, 0.11);
    opacity: 0.5;   
}

    .icon_fon:hover {
        border: 2px solid #0026ff;
        border-radius: 50%;
        
    }

.icon_id {
    position: absolute;
    top: 13px;
    right: 111px;
}

.line {
    width: 1438px;
    height: 210px;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    margin-left: 240px;
}


